<div class="container">
<br>
<div class="card bg-dark shadow" style="border-radius: 10px">
<div class="card-body">
<p class="fs-2 text-center">Giriş Yap</p>
<br>
	<form action="/account/login" method="post">
    	<input name="username" class="form-control" placeholder="Kullanıcı Adı" required>
        <br>
        <input type="password" name="password" class="form-control" placeholder="Parola" required>
        <br>
        <center>
          <input value="Giriş Yap" type="submit" class="btn btn-success">
        </center>
        <br>
        <label class="form-label">Bir hesabaı ihtiyacın var? <a class="link-warning" href="/account/register">Kayıt Ol</a></label>
    </form>
    </div>
    </div>
</div>
