<div class="container">
<br>
<div class="card bg-dark shadow" style="border-radius: 10px">
<div class="card-body">
<p id="title" class="fs-2 text-center">Kayıt Ol</p>
<br>
	<form action="/account/register" method="post">
    	<input type="text" name="username" id="username" class="form-control" placeholder="Kullanıcı Adı" required>
        <br>
      <input type="email" name="email" class="form-control" placeholder="E-mail" required>
        <br>
        <input type="password" name="password" id="password" class="form-control" placeholder="Parola" required>
        <br>
        <center>
          <input value="Kayıt Ol" id="submitBtn" type="submit" class="btn btn-success">
        </center>
        <br>
        <label id="login" class="form-label">Zaten bir hesaba sahip misin? <a class="link-warning" href="/account/login">Giriş Yap</a></label>
    </form>
    </div>
    </div>
</div>

<script>
    const langs = {
        title: {en: 'Register'},
        username_placeholder: {en: 'Username'},
        password_placeholder: {en: 'Password'},
        submitBtn_value: {en: 'Register'},
        login: {en: 'Already have an account? <a class="link-warning" href="/account/login">Login</a>'}
    };
    
    if(window.navigator.language.toLowerCase().indexOf('tr') == -1){
        $('#title').html(langs.title.en);
        $('#username').attr('placeholder', langs.username_placeholder.en);
        $('#password').attr('placeholder', langs.password_placeholder.en);
        $('#submitBtn').attr('value', langs.submitBtn_value.en);
        $('#login').html(langs.login.en);
    };
</script>