<!-- Styles -->
<style>
  #main {
  padding: 5rem 0;
  background-color: #CB6500;
  color: #fff;
  box-shadow: 0 4px 1rem -2px gray;
}

#main h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3.5rem;
}

#main a {
  background-color: #029555;
  border: none;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 1.3rem;
}

@media screen and (max-width: 480px) {
  #main h1 { font-size: 2rem; }
}

.container .card .card-text a {
  display: block;
}
</style>

  <div class="container-fluid" id="main">
    <h1>TrugeDrop Panels Bilgi</h1>
  </div>
  
  <div class="container mt-5">
    <div class="card card-body bg-dark border-info">
      <h4>Panellerimizde Bulunan 3. Taraf Yazılımlar</h4>
      <p class="card-text">
        <a href="https://www.npmjs.com/package/express" target="_blank">Express</a>
        <a href="https://www.npmjs.com/package/express-ejs-layouts" target="_blank">Express-EJS-Layouts</a>
        <a href="https://www.npmjs.com/package/express-session" target="_blank">Express-Session</a>
        <a href="https://www.npmjs.com/package/express-fileupload" target="_blank">Express-FileUpload</a>
        <a href="https://www.npmjs.com/package/mongoose" target="_blank">Mongoose</a>
        <a href="https://www.npmjs.com/package/connect-mongo" target="_blank">Connect-Mongo</a>
        <a href="https://www.npmjs.com/package/ejs" target="_blank">EJS</a>
        <a href="https://www.npmjs.com/package/body-parser" target="_blank">Body-Parser</a>
        <a href="https://www.npmjs.com/package/connect-flash" target="_blank">Connect-Flash</a>
        <a href="https://www.npmjs.com/package/minecraft-server-util" target="_blank">Minecraft-Server-Util</a>
        <a href="minecraft-server-utilhttps://www.npmjs.com/package/path" target="_blank">Path</a>
        <a href="https://www.npmjs.com/package/fs" target="_blank">FS</a>
        <a href="https://www.npmjs.com/package/unzipper" target="_blank">Unzipper</a>
        <a href="https://www.npmjs.com/package/properties-reader" target="_blank">Properties-Reader</a>
      </p>
    </div>
  </div>
